wheel
flask==2.2.1
flask-smorest==0.42.0
flask-cors
python-dotenv
sqlalchemy
flask-sqlalchemy
flask-jwt-extended==4.5.2
passlib
flask-migrate
gunicorn
psycopg2-binary==2.9.1
werkzeug==2.2.0
blocklist
marshmallow>=3.13.0, <4
requests==2.26.0

